<!doctype html>
<html class="minimal no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="description" content="Documentation for {{project.name}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
    <script async src="{{relativeURL "assets/js/search.js"}}" id="search-script"></script>
</head>
<body>

{{> header}}

<nav class="tsd-navigation secondary">
    <ul>
        {{#each toc.children}}
            {{> toc}}
        {{/each}}
    </ul>
</nav>

<div class="container container-main">
    <div class="content-wrap">
        {{{contents}}}
        {{> footer}}
    </div>
</div>

<div class="overlay"></div>
<script src="{{relativeURL "assets/js/main.js"}}"></script>

{{> analytics}}

</body>
</html>
